#main {
       width: 500px;
       height: 500px;
       border: 1 px solid black;
       margin: 0 auto;
       text-align: center;
       border-radius: 50%;
}
input{
    width: 50%;
    margin: 8px 0;
    padding: 12px 20px;
}
button{
    background-color: blue;
    color: white;
    padding: 12px 18px;
    margin: 10px 0;
    border-radius: 50%;

}
#main_home{
    width: 520px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(240, 230, 234);
    padding:30px;
}
#userinfo{
    width: 100%;
    height: 40px;
    background-color: rgb(228, 214, 224);
}
#msgscreen{
    width: 100%;
    height: 380px;
    overflow: auto;
}
#msgbox{
    width: 100%;
    background-color: rgb(223, 212, 224);
}
